form(submit='submit(event)')
  p rSafe
  input(type='text', model='username', placeholder='User name')
  input(type='password', model='password', placeholder='Password')
  input(type='submit', name='submit', value='Log in')